# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Arkanoid/.vs/
Arkanoid/Arkanoid/x64/
/x64
Arkanoid/x64/
Arkanoid/Arkanoid/Debug/
Arkanoid/Debug/

# Specific Files
*.ttf
Arkanoid/Arkanoid/SDL_ttf.h
Arkanoid/Arkanoid/portaudio.h
Arkanoid/Arkanoid/SDL.h
Arkanoid/Arkanoid/sndfile.h
.vs/
/lib
*.pdb
*.idb
